/ProjLoja/build/
/ProjLoja/dist/
/ProjLoja/nbproject/private/
/ExJframePessoa/build/
/ExJframePessoa/nbproject/private/
/JFrameCalculadora/build/
/JFrameCalculadora/dist/
/JFrameCalculadora/nbproject/private/
/JFrameRetangulo/build/
/JFrameRetangulo/dist/
/JFrameRetangulo/nbproject/private/
/ExPessoaJFrame/build/
/ExPessoaJFrame/nbproject/private/